/* =========================
  General styling
  ========================== */
#main-section {
    display: flex;
    flex-flow: wrap;
}
.device {
    border: ridge;
    border-width: 1px;
    min-width: 200px;
    min-height: 100px;
    box-shadow: 10px 10px 5px #888888;
    margin-right: 20px;
    margin-bottom: 20px;
    animation: fadein 4s;
}
.device img {
    display: block;
    margin-bottom: 10px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ===============================
  Lightswitch device styling
  ================================ */
.lightswitch {
    background-color: #ffc520;
}
.lightswitch a.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 15px;
    padding: 0 5px;
    text-decoration: none;
}
.lightswitch a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}

/* ===============================
  Heater device styling
  ================================ */
.heater{
    background-color: #ca3a11;
}

/* ===============================
  Curtains device styling
  ================================ */
.curtains {
    background-color: #cacaca;
}
.curtains a.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 15px;
    padding: 0 5px;
    text-decoration: none;
}
.curtains a.toggler.closed {
    background: darkgray;
    border-right-width: 2px;
    border-left-width: 15px;
}

/* ===============================
  Your new device styling
  ================================ */



